.intro-section {
    text-align: center;
    padding: 50px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro-content {
    margin-bottom: 20px;
}

.intro-content h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.intro-content p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e65c00;
}
